@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/*colors and fonts*/
:root {
  --clr-pink: hsl(322, 100%, 66%);
  --clr-light-pink: hsl(321, 100%, 78%);
  --clr-light-red: hsl(0, 100%, 63%);

  --clr-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-very-pale-blue: hsl(207, 100%, 98%);
  --clr-white: #fff;

  --font-heading-poppins: "Poppins", sans-serif;
  --font-body-open-sans: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 23.4375rem;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  font-family: var(--font-heading-poppins);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 0.875rem;
  font-family: var(--font-body-open-sans);
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 1.5rem 7rem 1.5rem;
}

.logo {
  width: 6rem;
  height: 1rem;
}

.trial_btn {
  width: 5rem;
  height: 1.5rem;
  margin-left: auto;
  color: var(--clr-pink);
  background: var(--clr-white);
  border: solid 0.0625rem var(--clr-light-pink);
  border-radius: 1.875rem;
  font-size: 0.625rem;
  font-family: var(--font-body-open-sans);
}

.hero_section {
  margin: auto 2.4375rem 88px 2.5rem;
}

.hero_txt {
  margin-bottom: 3rem;
}

.hero_btn {
  width: 12.5rem;
  height: 2.5rem;
  margin: auto 3rem 6.5rem 3rem;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  border-radius: 1.875rem;
  border: none;
  font-size: 0.75rem;
  font-family: var(--font-body-open-sans);
}

.hero_img {
  width: 18.5rem;
  height: 13.0625rem;
}

.stat_container {
  margin: auto auto 3rem auto;
}

.stat_icon {
  margin: 0 auto;
  width: 2.25rem;
  height: 2.25rem;
  margin-bottom: -3.75rem;
}

.stat_num {
  font-size: 3.75rem;
  margin-bottom: -0.625rem;
}

.stat_txt {
  font-size: 0.9375rem;
  color: var(--clr-very-dark-cyan);
}

.benefits_container:nth-child(1) {
  background-color: var(--clr-very-pale-blue);
}

.bg1 {
  background-image: url("../public/assets/images/bg-section-top-mobile-1.svg"),
    url("../public/assets/images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
  padding-top: 6.875em;
}

.bg2 {
  background-image: url("../public/assets/images/bg-section-top-mobile-2.svg"),
    url("../public/assets/images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
  padding-top: 5.875em;
  padding-bottom: 3em;
}

.benefits_img {
  width: 280px;
  height: 280px;
  margin: auto 47px 40px 48px;
  padding-top: 50px;
}

.benefits_title {
  margin-bottom: 16px;
}

.benefits_txt {
  margin: auto 1.8125rem 50px 1.625rem;
  padding-bottom: 100px;
}

.action_container {
  display: flex;
  flex-direction: column;
}

.action_txt {
  margin-bottom: 40px;
}
.action_btn {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  border: none;
  border-radius: 30px;
  margin-bottom: 250px;
}

.bg3 {
  background-image: url("../public/assets/images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  padding-top: 2.5em;
}

.newsletter_footer_container {
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-white);
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin-bottom: 104px;
}

.newsletter_title {
  text-align: left;
  color: var(--clr-white);
  margin-left: 28px;
  text-transform: uppercase;
}

.newsletter_txt {
  text-align: left;
  margin: auto 28px 32px 28px;
}

.newsletter_input {
  width: 320px;
  height: 48px;
  border-radius: 10px;
  border: none;
  margin: auto auto 16px auto;
}

.submit_btn {
  margin-left: auto;
  margin-right: 28px;
  width: 160px;
  height: 48px;
  color: var(--clr-white);
  background-color: var(--clr-pink);
  border: none;
  border-radius: 5px;
}

.footer_txt {
  text-align: left;
  margin-left: 28px;
  margin-bottom: 40px;
}

.footer_logo {
  margin-left: 28px;
  margin-bottom: 16px;
  width: 200px;
  height: 32px;
}

.footer_icon {
  margin-left: 28px;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.contact_container {
  margin-bottom: 48px;
}

.phone,
.email {
  display: inline-block;
  margin-left: 16px;
}

.social_icons {
  margin-left: 28px;
}

.social_icons img {
  width: 23px;
  height: 23px;
  margin-right: 20px;
  margin-bottom: 50px;
}

@media screen and (min-width: 900px) {
  .App {
    width: 1440px;
  }

  h1 {
    font-size: 48px;
  }

  .logo {
    width: 240px;
    height: 38px;
  }
  .hero_section {
    width: 1017px;
    margin: 0 auto;
  }

  .trial_btn {
    width: 136px;
    height: 40px;
    font-size: 16px;
  }

  .hero_txt {
    font-size: 20px;
    width: 600px;
    margin: 0 auto 50px auto;
  }

  .hero_btn {
    width: 400px;
    height: 80px;
    display: block;
    margin: 0 auto 120px auto;
    font-size: 20px;
  }

  .hero_img {
    width: 1016px;
    height: 720px;
    margin-bottom: 120px;
  }

  .stat_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 133px;
  }

  .stat_icon {
    margin: 0 auto;
    display: block;
  }
  .stat {
    width: 50%;
  }

  .benefits_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .benefits_title {
    font-size: 40px;
  }

  .benefits_description {
    width: 520px;
    margin: auto;
  }

  .benefits_img {
    width: 560px;
    height: 560px;
  }

  .benefits_container:nth-child(1) .benefits_img {
    order: 1;
  }

  .benefits_container:nth-child(3) {
    margin-bottom: 135px;
  }

  .action_container {
    margin-bottom: 178px;
  }
  .action_title {
    font-size: 40px;
  }

  .action_btn {
    width: 400px;
    height: 80px;
  }

  .bg1 {
    background-image: url("../public/assets/images/bg-section-top-desktop-1.svg"),
      url("../public/assets/images/bg-section-bottom-desktop-1.svg");
    padding-top: 9.5em;
    padding-bottom: 7em;
  }

  .bg2 {
    background-image: url("../public/assets/images/bg-section-top-desktop-2.svg"),
      url("../public/assets/images/bg-section-bottom-desktop-2.svg");
    padding-top: 9em;
    padding-bottom: 7.5em;
  }
  .bg3 {
    background-image: url("../public/assets/images/bg-footer-top-desktop.svg");

    padding-top: 9.5em;
  }

  .newsletter_footer_container {
    flex-direction: row;
    justify-content: space-between;
  }

  .newsletter {
    order: 1;
  }

  .newsletter_title {
    font-size: 24px;
  }

  .newsletter_txt {
    width: 344px;
    height: 72px;
  }
  .footer_container {
    margin-left: 131px;
  }
  .footer_txt {
    width: 340px;
    height: 72px;
  }
}
