@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/*colors and fonts*/
:root {
  --clr-pink: hsl(322, 100%, 66%);
  --clr-light-pink: hsl(321, 100%, 78%);
  --clr-light-red: hsl(0, 100%, 63%);

  --clr-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-very-pale-blue: hsl(207, 100%, 98%);
  --clr-white: #fff;

  --font-heading-poppins: "Poppins", sans-serif;
  --font-body-open-sans: "Open Sans", sans-serif;
}

/*main container*/

.App {
  display: flex;
  flex-direction: column;
  width: 23.4375rem;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  font-family: var(--font-heading-poppins);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 0.875rem;
  font-family: var(--font-body-open-sans);
}

/*
navigation section
*/

.navbar {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 1.5rem 7rem 1.5rem;
}

.logo {
  width: 6rem;
  height: 1rem;
}

.trial_btn {
  width: 5rem;
  height: 1.5rem;
  margin-left: auto;
  color: var(--clr-pink);
  background: var(--clr-white);
  border: solid 0.0625rem var(--clr-light-pink);
  border-radius: 1.875rem;
  font-size: 0.625rem;
  font-family: var(--font-body-open-sans);
  box-shadow: rgba(255, 143, 216, 0.05) 1px 6px 24px 1px,
    rgba(255, 143, 216, 0.08) 2px 2px 2px 2px;
}

.trial_btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

/*
hero section
*/

.hero_section {
  margin: auto 2.4375rem 88px 2.5rem;
}

.hero_txt {
  margin-bottom: 3rem;
}

.hero_btn {
  width: 12.5rem;
  height: 2.5rem;
  margin: auto 3rem 6.5rem 3rem;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  border-radius: 50px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  font-family: var(--font-body-open-sans);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.hero_btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.hero_img {
  width: 18.5rem;
  height: 13.0625rem;
}

/*
statistic section
*/

.stat_container {
  margin: auto auto 3rem auto;
}

.stat_icon {
  margin: -60px auto;
  width: 2.25rem;
  height: auto;
}

.stat_num {
  font-size: 3.75rem;
  margin-bottom: -0.625rem;
}

.stat_txt {
  font-size: 0.9375rem;
  color: var(--clr-very-dark-cyan);
  margin-bottom: 88px;
}

/*
benefits section
*/

.benefits_container:nth-child(1) {
  background-color: var(--clr-very-pale-blue);
}

.bg1 {
  background-image: url("../public/assets/images/bg-section-top-mobile-1.svg"),
    url("../public/assets/images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
  padding-top: 6.875em;
}

.bg2 {
  background-image: url("../public/assets/images/bg-section-top-mobile-2.svg"),
    url("../public/assets/images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
  padding-top: 5.875em;
  padding-bottom: 3em;
}

.benefits_img {
  width: 280px;
  height: 280px;
  margin: auto 47px 40px 48px;
  padding-top: 50px;
}

.benefits_title {
  margin-bottom: 16px;
}

.benefits_txt {
  margin: auto 1.875rem 50px 1.625rem;
  padding-bottom: 100px;
}

/*
action section
*/

.action_container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.action_txt {
  margin-bottom: 40px;
}
.action_btn {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  font-weight: 600;
  font-size: 12px;
  border: none;
  border-radius: 50px;
  margin-bottom: 250px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.action_btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.bg3 {
  background-image: url("../public/assets/images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  padding-top: 2.5em;
}

/*
newsletter/footer section
*/

.newsletter_footer_container {
  background-color: var(--clr-very-dark-cyan);
  color: var(--clr-white);
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin-bottom: 104px;
  margin-left: 28px;
}

.newsletter_title {
  text-align: left;
  margin-top: 100px;
  text-transform: uppercase;
}

.newsletter_txt {
  text-align: left;
  margin: 0 28px 32px 0;
  padding-right: 10px;
  line-height: 1.75;
}

.newsletter_input {
  width: 320px;
  height: 48px;
  border-radius: 6px;
  border: none;
  margin: auto 15px 16px 0;
}

.newsletter_email_err {
  border: 1px solid;
  border-color: var(--clr-light-red);
}

.btn_background {
  width: 160px;
  height: 48px;
  background-color: var(--clr-white);
  border-radius: 5px;
  margin-left: auto;
  margin-right: 21px;
}

.subscribe_btn {
  margin-left: auto;
  width: 160px;
  height: 48px;
  color: var(--clr-white);
  background-color: var(--clr-pink);
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.subscribe_btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.email_err_message {
  color: var(--clr-light-red);
  justify-content: flex-start;
  margin-right: auto;
}

.email_success {
  visibility: hidden;
}

.footer {
  margin-left: 28px;
}

.footer_txt {
  text-align: left;
  margin: auto 40px 40px auto;
  line-height: 1.75;
}

.footer_logo {
  margin-bottom: 16px;
  width: 200px;
  height: 32px;
}

.footer_icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;

  display: inline-block;
}

.social_icons {
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
}

.sm_icon {
  width: 23px;
  height: auto;
  margin-right: 17px;
  margin-bottom: 30px;
  color: var(--clr-white);
}

.sm_icon:hover {
  color: cyan;
  cursor: pointer;
}

.contact_container {
  margin-bottom: 48px;
}

.phone,
.email {
  display: inline-block;
}

/*line break class*/

.break {
  flex-basis: 100%;
  height: 0;
}

@media screen and (min-width: 900px) {
  /*main container*/

  .App {
    width: 100%;
  }

  h1 {
    font-size: 48px;
    margin-top: 0;
  }

  /*
navigation section
*/

  .logo {
    width: 240px;
    height: 38px;
  }
  .navbar {
    margin: 78px 63px 225px 80px;
  }

  .hero_section {
    width: 1017px;
    margin: 0 auto;
  }

  .trial_btn {
    width: 136px;
    height: 40px;
    font-size: 16px;
  }

  /*
hero section
*/

  .hero_txt {
    font-size: 20px;
    width: 600px;
    margin: 0 auto 50px auto;
  }

  .hero_btn {
    width: 400px;
    height: 80px;
    display: block;
    margin: 0 auto 120px auto;
    font-size: 20px;
  }

  .hero_img {
    width: 1016px;
    height: 720px;
    margin-bottom: 120px;
  }

  /*
statistic section
*/

  .stat_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 133px;
    width: 880px;
  }

  .stat_num {
    font-size: 96px;
    font-weight: 700;
  }

  .stat_txt {
    font-size: 24px;
  }

  .stat_icon {
    width: 56px;
    height: auto;
  }

  /*
benefits section
*/

  .benefits_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .benefits_title {
    font-size: 40px;
    text-align: left;
    margin-left: 1.875rem;
  }

  .benefits_txt {
    text-align: left;
    margin-left: 1.875rem;
  }

  .benefits_description {
    width: 520px;
    margin: auto;
  }

  .benefits_img {
    width: 560px;
    height: auto;
    margin: auto;
    padding-bottom: 100px;
  }

  .benefits_container:nth-child(1) .benefits_img {
    order: 1;
  }

  .benefits_container:nth-child(3) {
    margin-bottom: 135px;
  }

  .bg1 {
    background-image: url("../public/assets/images/bg-section-top-desktop-1.svg"),
      url("../public/assets/images/bg-section-bottom-desktop-1.svg");
    padding-top: 10%;
    padding-bottom: 9%;
    width: 100%;
  }

  .bg2 {
    background-image: url("../public/assets/images/bg-section-top-desktop-2.svg"),
      url("../public/assets/images/bg-section-bottom-desktop-2.svg");
    padding-top: 10%;
    padding-bottom: 9%;
    width: 100%;
  }
  .bg3 {
    background-image: url("../public/assets/images/bg-footer-top-desktop.svg");
    padding-top: 10.5%;
    width: 100%;
  }

  /*
action section
*/

  .action_container {
    margin-top: 135px;
    margin-bottom: -66px;
  }
  .action_title {
    font-size: 40px;
  }

  .action_btn {
    width: 400px;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
  }

  /*
newsletter/footer section
*/

  .newsletter_footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .newsletter {
    order: 1;
  }

  .newsletter_title {
    font-size: 24px;
  }

  .newsletter_txt {
    width: 344px;
    height: 72px;
  }

  .newsletter_input {
    margin-bottom: 0;
  }

  .sign-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .subscribe_btn {
    margin: 0;
  }

  .footer_container {
    margin-left: 98px;
    margin-top: 100px;
    margin-right: 50px;
  }
  .footer_txt {
    width: 300px;
    height: 72px;
  }

  .footer_icon {
    width: 32px;
    height: 32px;
  }

  .sm_icon {
    width: 32px;
    height: 32px;
    margin-bottom: 100px;
  }
}
