@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/*colors and fonts*/
:root {
  --clr-pink: hsl(322, 100%, 66%);
  --clr-light-pink: hsl(321, 100%, 78%);
  --clr-light-red: hsl(0, 100%, 63%);

  --clr-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-very-pale-blue: hsl(207, 100%, 98%);
  --clr-white: #fff;

  --font-heading-poppins: "Poppins", sans-serif;
  --font-body-open-sans: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 23.4375rem;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  font-family: var(--font-heading-poppins);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  font-size: 0.875rem;
  font-family: var(--font-body-open-sans);
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 1.5rem 7rem 1.5rem;
}

.logo {
  width: 6rem;
  height: 1rem;
}

.trial_btn {
  width: 5rem;
  height: 1.5rem;
  margin-left: auto;
  color: var(--clr-pink);
  background: var(--clr-white);
  border: solid 0.0625rem var(--clr-light-pink);
  border-radius: 1.875rem;
  font-size: 0.625rem;
  font-family: var(--font-body-open-sans);
}

.hero_section {
  margin: auto 2.4375rem 7.8125rem 2.5rem;
}

.hero_txt {
  margin-bottom: 3rem;
}

.hero_btn {
  width: 12.5rem;
  height: 2.5rem;
  margin: auto 3rem 6.5rem 3rem;
  background-color: var(--clr-pink);
  color: var(--clr-white);
  border-radius: 1.875rem;
  border: none;
  font-size: 0.75rem;
  font-family: var(--font-body-open-sans);
}

.hero_img {
  width: 18.5rem;
  height: 13.0625rem;
}

.stat_section {
  margin: auto 6.6875rem 5.5rem 6.75rem;
}

.stat_icon {
  width: 2.25rem;
  height: 2.25rem;
  margin-bottom: -3.75rem;
}

.stat_num {
  font-size: 3.75rem;
  margin-bottom: -0.625rem;
}

.stat_txt {
  font-size: 0.9375rem;
  color: var(--clr-very-dark-cyan);
}

.benefits_container:nth-child(1) {
  background-color: var(--clr-very-pale-blue);
}

.bg1 {
  background-image: url("../public/assets/images/bg-section-top-mobile-1.svg"),
    url("../public/assets/images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
  padding-top: 6.875em;
}

.bg2 {
  background-image: url("../public/assets/images/bg-section-top-mobile-2.svg"),
    url("../public/assets/images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
  padding-top: 5.875em;
  padding-bottom: 3em;
}

.benefits_img {
  width: 280px;
  height: 280px;
  margin: auto 47px 40px 48px;
  padding-top: 50px;
}

.benefits_title {
  margin-bottom: 16px;
}

.benefits_txt {
  margin: auto 1.8125rem 50px 1.625rem;
  padding-bottom: 50px;
}
